.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.validation-error {
  color: red;
}
.form-control.ng-valid {
  border-color: green;
}
.form-control.ng-invalid.ng-touched {
  border-color: red;
}
.form-control:focus {
  box-shadow: none;
}