<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-7 margin-top-20">
      <h2>Create User</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row margin-bottom-10">
          <div class="form-group col-md-6">
            <label for="firstNameInput" class="margin-bottom-10">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstNameInput" aria-describedby="emailHelp" placeholder="First Name">
            <div
                    *ngIf="userForm.get('firstName').invalid
                    && userForm.get('firstName').touched"
            >
              <small class="validation-error">Поле не может быть пустым</small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastNameInput" class="margin-bottom-10">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" id="lastNameInput" placeholder="Last Name">
            <div
                    *ngIf="userForm.get('lastName').invalid
                    && userForm.get('lastName').touched"
            >
              <small class="validation-error">Поле не может быть пустым</small>
            </div>
          </div>
        </div>
        <div class="row margin-bottom-10">
          <div class="form-group col-md-12">
            <label for="emailInput" class="margin-bottom-10">Email</label>
            <input type="text" class="form-control" formControlName="email" id="emailInput" aria-describedby="emailHelp" placeholder="Email">
            <div
                    *ngIf="userForm.get('email').value == ''
                    && userForm.get('email').touched"
            >
              <small class="validation-error">Поле не может быть пустым</small>
            </div>
            <div
                    *ngIf="userForm.get('email').invalid
                    && userForm.get('email').touched
                    && userForm.get('email').value !== ''"
            >
              <small class="validation-error">Поле email заполнено некорректно</small>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="userForm.invalid" class="btn btn-success">Create</button>
      </form>
    </div>
    <div class="col-md-4 margin-top-20">
      <app-display-board
              [userCount]="userCount"
              (getUsersEvent)="getAllUsers()"
      >
      </app-display-board>
    </div>
  </div>
</div>
<div class="margin-top-20">
  <app-users *ngIf="users.length !== 0" [users]="users"></app-users>
</div>
